body{
    background-color: #efefef;
}
.main{
    margin: 30px;
    background-color: white;
}
.btn-publish{
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}
.alert-change{
    padding: inherit;
}